In [1]:
%matplotlib inline

from scipy.odr import *
from scipy.stats import *
import numpy as np
import pandas as pd
import os
import time
import matplotlib.pyplot as plt
import ast
from multiprocessing import Pool, cpu_count

import scipy

from IPython import display
from matplotlib.patches import Rectangle

from sklearn.metrics import mean_squared_error
import json

import scipy.stats as st
from sklearn.metrics import r2_score


from matplotlib import cm
from mpl_toolkits.mplot3d import axes3d
import matplotlib.pyplot as plt

import copy

from sklearn.model_selection import LeaveOneOut, LeavePOut

from multiprocessing import Pool
import cv2

In [2]:
dfAll = pd.read_pickle("PklData/AllData.pkl")
dfAll.head()

,userID,Timestamp,Current_Task,Task_amount,TaskID,VersionID,RepetitionID,Actual_Data,Is_Pause,Image
0,15,1547131961064,0,34,0,0,0,False,False,"[2, 1, 0, 182, 3, 161, 0, 0, 0, 0, 0, 0, 0, 0,..."
1,15,1547131961100,0,34,0,0,0,False,False,"[2, 1, 0, 182, 3, 161, 0, 0, 0, 0, 0, 0, 0, 0,..."
2,15,1547131961131,0,34,0,0,0,False,False,"[2, 1, 0, 182, 3, 161, 0, 0, 0, 0, 0, 0, 0, 0,..."
3,15,1547131961165,0,34,0,0,0,False,False,"[2, 1, 0, 182, 3, 161, 0, 0, 0, 0, 0, 0, 0, 0,..."
4,15,1547131961215,0,34,0,0,0,False,False,"[2, 1, 0, 182, 3, 161, 0, 0, 0, 0, 0, 0, 0, 0,..."

In [3]:
df_actual = dfAll[(dfAll.Actual_Data == True) & (dfAll.Is_Pause == False)]
df_actual.head()

,userID,Timestamp,Current_Task,Task_amount,TaskID,VersionID,RepetitionID,Actual_Data,Is_Pause,Image
10422,15,1547132389185,1,680,9,2,0,True,False,"[0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, ..."
10423,15,1547132389223,1,680,9,2,0,True,False,"[0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, ..."
10424,15,1547132389263,1,680,9,2,0,True,False,"[0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, ..."
10425,15,1547132389303,1,680,9,2,0,True,False,"[0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, ..."
10426,15,1547132389345,1,680,9,2,0,True,False,"[0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, ..."

In [4]:
print("all: %s, actual data: %s" % (len(dfAll), len(df_actual)))

all: 956426, actual data: 806891

In [5]:
%%time
def is_max(df):
    df_temp = df.copy(deep=True)
    max_version = df_temp.RepetitionID.max()
    df_temp["IsMax"] = np.where(df_temp.RepetitionID == max_version, True, False)
    df_temp["MaxRepetition"] = [max_version] * len(df_temp)
    return df_temp

df_filtered = df_actual.copy(deep=True)
df_grp = df_filtered.groupby([df_filtered.userID, df_filtered.TaskID, df_filtered.VersionID])
pool = Pool(cpu_count() - 1)
result_lst = pool.map(is_max, [grp for name, grp in df_grp])
df_filtered = pd.concat(result_lst)
pool.close()
#df_filtered = df_filtered[df_filtered.IsMax == True]

CPU times: user 54.6 s, sys: 5.22 s, total: 59.8 s
Wall time: 1min 20s

In [6]:
df_filtered.to_pickle("PklData/dfFiltered_LSTM.pkl")

In [7]:
print("actual: %s, filtered data: %s" % (len(df_actual), len(df_filtered)))

actual: 806891, filtered data: 806891