In [2]:
import pandas as pd
import os

In [9]:
df_list = []
filepath = '../StudyData/'
for file in os.listdir(filepath):
    if not file.endswith('.csv'):
        continue   
    print(file)
    df_tmp = pd.read_csv(filepath + file, delimiter=';')
    df_tmp = df_tmp[df_tmp.Actual_Data==True]
    df_list.append(df_tmp)
df = pd.concat(df_list)
df.to_csv("../ActualData/alldata.csv")

2_studyData.csv
1_studyData.csv

In [40]:
df.head()

,userID,Timestamp,Current_Task,Task_amount,TaskID,VersionID,RepetitionID,Actual_Data,Is_Pause,Image
0,1,"1,54515E+12",0,0,0,0,0,False,False,"1545148799,883271245,2,2,2,0,1,2,1,2,0,0,0,2,2..."
1,1,"1,54515E+12",0,34,0,0,0,False,False,"1545148799,925229684,2,2,2,0,1,2,1,2,0,0,0,2,2..."
2,1,"1,54515E+12",0,34,0,0,0,False,False,"1545148799,963503069,2,2,2,0,1,2,1,2,0,0,0,2,2..."
3,1,"1,54515E+12",0,34,0,0,0,False,False,"1545148800,005909215,2,2,2,0,1,2,1,2,0,0,0,2,2..."
4,1,"1,54515E+12",0,34,0,0,0,False,False,"1545148800,048485256,2,2,2,0,1,2,1,2,0,0,0,2,2..."